## UPC에 관하여
- 1자리: UPC 코드 첫째자리의 넘버시스템 캐릭터는 뒤의 나머지 숫자의 분류뿐만 아니라 의미를 해결하는데 도움을 준다.
    - 0, 6, 7, 8 : 아래를 제외한 모든 제품에 부여
    - 2 : 중량단위로 판매되는 가변 중량상품(random weight item: 육류,치즈 등)에 부여
    - 3 : 의약품, 건강관련제품에 부여
    - 4 : 점포내 판매를 목적으로 소매업자에 의해 마킹되는 제품에 부여(인스토아마킹용)
    - 5 : 쿠폰에 부여
    
- 5자리: 제조업체코드(Manufacturer Identification Number : 5 자리)
    - 제조업체코드는 UPC 코드관리기관인 UCC(Uniform Code Council)에서 각 제조업체에 부여합니다.
    
- 5자리: 상품품목코드(Item Code Number : 5자리 )
    - 상품품목코드는 제조업체가 부여하고 관리하는 코드입니다.
    
- 1자리: 체크디지트 (Check Digit : 1자리 )
    - EAN코드와 마찬가지로 모듈러스 10(modulus 10)방식으로 계산하여 부여하는 코드입니다.
    
----------------------------------------------------------------------
- `1유형` : 제조업체코드 5자리 중 뒤의 3자리가 000, 100, 200으로 끝나는 경우로, 단축형으로 사용할 수 있는 상품품목코드는 00000 ~ 00999로서 최대 1,000품목까지 사용이 가능합니다.

- `2유형` : 제조업체코드 5자리 중 뒤의 3자리가 300, 400, 500, 600, 700, 800, 900으로 끝나는 경우로, 단축형으로 사용할 수 있는 상품품목코드는 00000 ~ 00099로서 최대 100품목까지 사용이 가능합니다. 

- `3유형` : 제조업체코드 5자리 중 뒤의 2자리가 10, 20, 30, 40, 50, 60, 70, 80, 90으로 끝나는 경우로, 단축형으로 사용할 수 있는 상품품목코드는 00000 ~ 00009로서 최대 10품목까지 사용이 가능합니다. 

- `4유형` : 제조업체코드 5자리가 0으로 끝나지 않는 경우로 단축형으로 사용할 수 있는 상품품목 코드는 00005 ~ 00009로서 최대 5품목까지 사용이 가능합니다.

- 예를들어:
    - 1유형의경우... 
    - 0 57100 00264 9 
    - 0 `5 7` `2 6 4 1 9

In [1]:
data = pd.read_csv('../data/train.csv')
data.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,6.811315e+10,-1,FINANCIAL SERVICES,1000.0
1,30,7,Friday,6.053882e+10,1,SHOES,8931.0
2,30,7,Friday,7.410811e+09,1,PERSONAL CARE,4504.0
3,26,8,Friday,2.238404e+09,2,PAINT AND ACCESSORIES,3565.0
4,26,8,Friday,2.006614e+09,2,PAINT AND ACCESSORIES,1017.0

In [2]:
data['Upc'] = data['Upc'].fillna(value = 0)

In [3]:
data.iloc[48, 3]

501138607481.0

In [4]:
data['Upc'] = data['Upc'].astype(int)
data.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,68113152929,-1,FINANCIAL SERVICES,1000.0
1,30,7,Friday,60538815980,1,SHOES,8931.0
2,30,7,Friday,7410811099,1,PERSONAL CARE,4504.0
3,26,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565.0
4,26,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017.0

In [5]:
def check_len(upc):
    return len(str(upc))

In [6]:
data['len(upc)'] = data['Upc'].apply(check_len)

In [7]:
data['len(upc)'].unique()

array([11, 10,  1,  4, 12,  9,  5,  8,  3,  7])

In [8]:
data.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,len(upc)
0,999,5,Friday,68113152929,-1,FINANCIAL SERVICES,1000.0,11
1,30,7,Friday,60538815980,1,SHOES,8931.0,11
2,30,7,Friday,7410811099,1,PERSONAL CARE,4504.0,10
3,26,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565.0,10
4,26,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017.0,10

In [9]:
data[data['len(upc)'].isin([3])]

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,len(upc)
429744,40,127954,Thursday,834,1,BAKERY,5016.0,3
429745,40,127954,Thursday,834,2,BAKERY,5016.0,3
448895,39,134005,Friday,834,1,BAKERY,5016.0,3
629674,39,187105,Sunday,834,-1,BAKERY,5016.0,3
629675,39,187105,Sunday,834,1,BAKERY,5016.0,3
629676,39,187105,Sunday,834,1,BAKERY,5016.0,3
629677,39,187105,Sunday,834,1,BAKERY,5016.0,3

In [10]:
type(data['Upc'].loc[0])

numpy.int64

In [11]:
s = "68113152929"[-1::-2]
s

'995316'

In [139]:
s = "68113152929"[-1::-2]
s = [int(i) for i in s]

(list(map(lambda number : number * 3, s )))

[27, 27, 15, 9, 3, 18]

In [55]:
"68113152929"[-2::-2]  # 짝수

24

In [ ]:
#

In [121]:
# check digit 구하는 함수

def get_checkdigit(upc):
    
    odd_s = [int(i) for i in str(upc)[-1::-2]]
    even_s = [int(i) for i in str(upc)[-2::-2]]
    
    odd_sum = sum(list(map(lambda number : number * 3, odd_s)))
    even_sum = sum(list(map(lambda number : number, even_s)))
    check_sum = (odd_sum + even_sum) % 10
    

    if check_sum == 0:
        return check_sum
    else:
        return 10 - check_sum

In [123]:
get_checkdigit(834)

1

In [95]:
def add_checkdigit(upc):
    return str(upc) + str(get_checkdigit(upc))

In [124]:
add_checkdigit(834)

'8341'

In [128]:
def make_full_upc(upc):
    
    tmp_upc = add_checkdigit(upc)
    
    
    if len(tmp_upc) < 12:
        length = 12 - len(tmp_upc)
        zero = "0" * length
        standard_upc = zero + tmp_upc
        return standard_upc
    else:
        return tmp_upc

In [112]:
odd_s = [int(i) for i in str(834)[-1::-2]]
odd_s

[4, 8]

In [113]:
even_s = [int(i) for i in str(834)[-2::-2]]
even_s

[3]

In [114]:
odd_sum = sum(list(map(lambda number : number * 3, odd_s)))
even_sum = sum(list(map(lambda number : number, even_s)))

In [115]:
odd_sum

36

In [116]:
even_sum

3

In [86]:
make_full_upc(834)

'834<function get_checkdigit at 0x10b422378>'

In [109]:
get_checkdigit(834)

1

In [103]:
s = 49 % 10

In [104]:
10 - s

1

In [51]:
(0 + 8 + 1 + 1 + 2 + 2) * 3a

42

In [48]:
99 + 14

113

In [29]:
(6 + 4 + 4 + 0 + 0 + 3) * 3

51

In [34]:
print("501138607481")
print("501138607481"[-1::-2])
print("501138607481"[-2::-2])

501138607481
140810
876315

In [ ]:
361422003835

In [43]:
(3 + 1 + 2 + 0 + 3 + 3) * 3

36

In [44]:
6 + 4 + 2 + 0 +8

20

In [40]:
1 + 4+ 0 * + 1 + 0

5

In [42]:
(8 + 7 + 6 + 3 + 1 + 5) * 3

90

In [14]:
data[data['len(upc)'].isin([12])]

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,len(upc)
48,21,15,Friday,501138607481,1,FABRICS AND CRAFTS,1309.0,12
50,21,15,Friday,501138610338,1,FABRICS AND CRAFTS,1309.0,12
58,42,19,Friday,692656840005,1,FABRICS AND CRAFTS,397.0,12
60,42,19,Friday,695334428094,1,ACCESSORIES,122.0,12
67,9,23,Friday,692249579995,1,HOME MANAGEMENT,3005.0,12
80,25,28,Friday,880552311919,1,LADIESWEAR,313.0,12
163,39,79,Friday,694147116161,2,OFFICE SUPPLIES,5806.0,12
423,42,214,Friday,978140544941,1,BOOKS AND MAGAZINES,2120.0,12
432,42,217,Friday,692715640010,1,FABRICS AND CRAFTS,412.0,12
579,25,275,Friday,880552312077,1,LADIESWEAR,3120.0,12
583,25,275,Friday,880937758571,1,LADIESWEAR,1217.0,12
946,25,402,Friday,471369833393,1,MENS WEAR,5434.0,12
1078,20,461,Friday,896400099838,1,BATH AND SHOWER,421.0,12
1324,25,567,Friday,896110116812,1,BOYS WEAR,4648.0,12
1325,25,567,Friday,896110116812,2,BOYS WEAR,4648.0,12
1360,39,584,Friday,880632366619,1,LADIESWEAR,312.0,12
1382,40,592,Friday,489703051032,1,COOK AND DINE,371.0,12
1468,25,627,Friday,880615608470,1,LADIESWEAR,610.0,12
1504,9,644,Friday,880615608488,1,LADIESWEAR,610.0,12
1652,40,725,Friday,694722580471,1,COOK AND DINE,1809.0,12
1729,30,737,Friday,880615609513,1,LADIESWEAR,414.0,12
1742,42,745,Friday,896110116718,1,BOYS WEAR,4648.0,12
1778,25,772,Friday,695334428099,1,ACCESSORIES,122.0,12
1809,40,784,Friday,489703051032,1,COOK AND DINE,371.0,12
1820,37,792,Friday,489704605011,1,FABRICS AND CRAFTS,7013.0,12
1825,37,792,Friday,489704605014,1,FABRICS AND CRAFTS,7013.0,12
1871,41,816,Friday,694530150199,1,HOME DECOR,906.0,12
1890,25,826,Friday,880632365930,1,LADIESWEAR,313.0,12
1901,999,829,Friday,471984904046,-1,"GIRLS WEAR, 4-6X AND 7-14",2710.0,12
1902,999,829,Friday,471984904041,-1,"GIRLS WEAR, 4-6X AND 7-14",2710.0,12
...,...,...,...,...,...,...,...,...
645300,32,190942,Sunday,489419004396,-1,BEDDING,7401.0,12
645301,32,190942,Sunday,489419004396,1,BEDDING,7401.0,12
645410,40,190961,Sunday,880552312850,1,PLUS AND MATERNITY,377.0,12
645418,40,190961,Sunday,880619230303,1,PLUS AND MATERNITY,337.0,12
645422,40,190961,Sunday,880615608238,1,LADIESWEAR,301.0,12
645545,37,190984,Sunday,775014200016,1,PRODUCE,3108.0,12
645581,9,190989,Sunday,471251189040,1,HARDWARE,9806.0,12
645637,9,191004,Sunday,880632365898,1,LADIESWEAR,313.0,12
645638,9,191004,Sunday,880632365904,1,LADIESWEAR,313.0,12
645661,32,191010,Sunday,692222710462,1,COOK AND DINE,3645.0,12
645692,25,191015,Sunday,880614469334,1,LADIESWEAR,324.0,12
645694,25,191015,Sunday,880552311944,1,LADIESWEAR,313.0,12
645695,25,191015,Sunday,880632365949,1,LADIESWEAR,313.0,12
645696,25,191015,Sunday,880632365901,1,LADIESWEAR,313.0,12
645730,25,191025,Sunday,880614469410,1,LADIESWEAR,324.0,12
645757,32,191039,Sunday,471984904729,1,LADIESWEAR,1363.0,12
645835,42,191058,Sunday,978163109910,1,IMPULSE MERCHANDISE,302.0,12
645836,42,191058,Sunday,978145301914,1,IMPULSE MERCHANDISE,302.0,12
646128,9,191114,Sunday,896110116865,1,MENS WEAR,165.0,12
646292,24,191146,Sunday,880875021692,1,"GIRLS WEAR, 4-6X AND 7-14",216.0,12
646372,38,191164,Sunday,695768070006,1,AUTOMOTIVE,602.0,12
646410,37,191170,Sunday,880632365919,1,LADIESWEAR,313.0,12
646604,33,191227,Sunday,489415210427,1,CELEBRATION,306.0,12
646607,33,191227,Sunday,489415210433,1,CELEBRATION,306.0,12
646682,25,191246,Sunday,896110116858,1,MENS WEAR,165.0,12
646730,7,191262,Sunday,896110116858,1,MENS WEAR,165.0,12
646771,44,191277,Sunday,489704605078,1,FABRICS AND CRAFTS,7018.0,12
646788,44,191283,Sunday,695334428112,1,MENS WEAR,901.0,12
646893,42,191312,Sunday,471286236459,1,MENS WEAR,5435.0,12
646921,40,191324,Sunday,361422003835,1,BEAUTY,2130.0,12